<!DOCTYPE html>
<html>
  <head>
    <title>Taobao Tools</title>
    <script type="text/javascript" src="/_scripts/jquery.min.js">
    </script>
    <%-scripts%>
    <link rel="stylesheet" type="text/css" href="/_styles/gudstrap.css">
    <link rel='stylesheet' href='/_styles/style.css' />
    <%-stylesheets%>
  </head>
  <body class="gud">
    <header>
      <h2>Taobao Tools</h2>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>